* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace;
	position: relative;
}

html {
	font-size: 62.5%;
}

body {
	width: 100%;
	background-color: hsl(36, 100%, 99%);
	/* padding: 5rem 14rem; */

	scroll-behavior: smooth;
}

/* General Styles */

.link,
.link:link,
.link:visited,
.btn,
.btn:link,
.btn:visited {
	color: inherit;
	text-decoration: none;
	border: none;
	cursor: pointer;
	font-size: inherit;
}

.link,
.link:hover,
.link:active {
	color: rgb(221, 147, 11);
}

.highlighted-link,
.highlighted-link:link,
.highlighted-link:visited {
	color: rgb(221, 147, 11);
}

.highlighted-link,
.highlighted-link:hover,
.highlighted-link:active {
	color: hsl(36, 100%, 99%);
}

.nav-list,
.list {
	display: flex;
	list-style: none;
}

/* Header Styles */

header {
	width: 100%;
	height: 28vh;
	padding: 4rem 5vw 0;
	background-color: rgb(10, 5, 75);
	/* background-image: url("./Rectangle\ 8.png");
	background-size: cover;
	background-position: center; */

	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.header__side {
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.site-title {
	font-size: 5rem;
	font-weight: 900;
	letter-spacing: 2px;
	line-height: 0.8;
}

.site-title-link {
	color: #fffdfa !important;
}

.header-nav .nav-list {
	gap: 1.5rem;
	font-size: 2rem;
	color: hsl(36, 100%, 99%);
	text-transform: capitalize;
}

.nav-link {
	letter-spacing: 1px;
	padding: 0.5rem 1rem;
}

.active-nav {
	border-bottom: 2px solid hsl(36, 100%, 99%) !important;
}
.nav-link:hover {
	font-weight: 700;
	border-bottom: 2px solid rgb(221, 147, 11) !important;
}

.header__right-side {
	height: 75%;
	justify-content: flex-end;
	align-items: center;
}

/* Just added */

.welcome-user__div {
	height: 100%;
	color: hsl(36, 100%, 99%);
	font-size: 2.5rem;
	line-height: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.welcome-user__div > .level {
	font-size: 0.7em;
}

/* End of just added */

.login-form__div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.login-form {
	display: flex;
	gap: 2rem;
}

.form-input {
	padding: 1rem 2rem;
	border-radius: 3px;
	border: none;
	font-size: 2rem;
	font-weight: 400;
	width: 15vw;
}

.form-input:focus-visible {
	outline: 2px solid rgb(221, 147, 11);
}

.password__div {
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: flex-end;
}

.forget-password-link {
	font-size: 1.2rem !important;
	font-weight: 400;
	color: hsl(36, 100%, 99%) !important;
	letter-spacing: 1px;
}

.login-btn {
	width: auto !important;
	background-color: rgb(228, 17, 17);
	color: hsl(36, 100%, 99%);
}

.login-btn:hover,
.login-btn:active {
	color: rgb(228, 17, 17) !important;
	background-color: hsl(36, 100%, 99%) !important;
}

.register__div {
	display: flex;
	justify-content: flex-end;
	padding-right: 2rem;
	font-size: 1.8rem;
	color: rgb(10, 5, 75);
}

.signup-btn {
	padding: 1rem 2.5rem;
	font-weight: 400;
	border-radius: 3px;
	background-color: hsl(36, 100%, 99%);
}

.menu-icon-div {
	display: none;
}

.header-section__info-div {
	height: 70%;
	width: 90%;
	/* background-color: rgb(228, 17, 17); */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

p.site-slogan {
	/* width: rem; */
	line-height: 1;
	letter-spacing: 1px;
	color: hsl(36, 100%, 99%);
	font-size: 4rem;
	font-weight: 700;

	position: absolute;
	left: 0;
	bottom: 0;
}

.portfolio__div {
	color: hsl(36, 100%, 99%);
	background-color: rgb(10, 5, 75);
	width: 35rem;
	font-size: 1.5rem;
	border-radius: 1rem;
	display: ;
	position: absolute;
	right: 0;
	bottom: 0;

	display: flex;
	flex-direction: column;
}

.portfolio__div > div {
	padding: 2rem 3rem;
}

.portfolio__div > .container {
	border-bottom: 1px solid rgb(22, 12, 158);
}

.acct-bal {
	font-size: 3.5rem;
	letter-spacing: 1px;
	line-height: 0.6;
}

.funding__div {
	display: flex;
	gap: 2rem;
	margin-top: 3rem;
}

.fund-btn {
	padding: 5px 10px;
	border-radius: 1rem;
	border: 1px solid rgb(22, 12, 158);
}

.user-level-div > .text {
	text-align: center;
}

.user-level {
	width: 100%;
	height: 2px;
	appearance: none;
	-webkit-appearance: none;
	background-color: hsl(36, 100%, 99%);
	cursor: pointer;
	margin-bottom: 2rem;
}

.user-level:focus {
	outline: none;
}

.user-level::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;

	height: 2rem;
	width: 2rem;
	border-radius: 100%;
	background-color: rgb(221, 147, 11);
}

.user-level::-ms-track {
	width: 100%;

	background-color: transparent;
	border-color: transparent;
	color: transparent;
}

.diff-level {
	display: flex;
	justify-content: space-between;
	font-size: 1.2rem;
}

/* Main Styles */

main {
	width: 100%;
	/* overflow: hidden; */
}

.section {
	width: 100%;
}

.main-header-section {
	height: 73vh;
}

.carousel {
	width: 100%;
	height: 100%;
	background-color: black;
	/* overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center; */
}

.carousel-item {
	height: 100% !important;
}

.carousel-item > img {
	display: block;
	height: auto !important;
	width: 100% !important;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	scale: 1.01;
}

.nav_section {
	width: max-content;
	border-radius: 10px;
	position: absolute;
	top: 2rem;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	gap: 1rem;
	align-items: center;
	background-color: hsl(36, 100%, 99%);
	font-size: 1.6rem;
}

.nav_section > * {
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	font-weight: 700;
}

.nav_section > *:hover,
.dropdown-item:hover {
	background-color: rgb(221, 147, 11);
	color: hsl(36, 100%, 99%);
}

.nav_section > *:first-child {
	border-radius: 10px 0 0 10px;
}

.nav_section > *:last-child {
	border-radius: 0 10px 10px 0;
}

.dropdown-menu {
	font-size: 1.3rem;
}

.dropdown-icon {
	/* display: none; */
}

.games-section {
	height: 100vh;
	width: 100%;
	padding: 8rem 5vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.games__div {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.games-info {
	width: 40%;
	font-size: 2.5rem;
	letter-spacing: 1px;
	font-weight: 400;
	line-height: 1.4;
}

.game-modes__div {
	width: 40%;
	font-size: 2.5rem;
	display: flex;
	justify-content: space-between;
}

.game-modes {
	width: 45%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	border-radius: 10px;
}

.live-game__div {
	background-color: rgb(164, 193, 218);
}

.tournament-game__div {
	background-color: rgb(248, 227, 169);
}

.modes-icon {
	display: inline-block;
	width: 40%;
	flex-shrink: 0;
}

.games-card__div {
	height: 70%;
	display: flex;
	gap: 5rem;
	justify-content: center;
	align-items: center;
}

.game-card {
	height: 100%;
	width: 25%;
	border-radius: 20px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 5px 10px 5px rgb(0, 0, 0, 0.2);
}

.card-img {
	scale: 1.05;
	height: 100%;
}

.games-card:hover .card-img {
	scale: 1.2;
}

.card-info {
	color: hsl(36, 100%, 99%);
	width: 75%;
	position: absolute;
	bottom: 4rem;
	left: 50%;
	transform: translateX(-50%);
}

.card-title {
	font-size: 2.5rem;
	font-weight: 700;
}

.card-description {
	margin-top: 2rem;
	font-size: 1.6rem;
}

/* Footer Styles */

footer {
	width: 100%;
	height: 28vh;
	font-size: 1.6rem;
	padding: 5rem 5vw;
	color: hsl(36, 100%, 99%);
	background-color: rgb(10, 5, 75);
	/* background-image: url("./Rectangle\ 8.png");
	background-size: cover;
	background-position: center; */

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-div {
	height: 100%;
}

.footer-left,
.footer-right {
	width: 15%;
	display: flex;
	flex-direction: column;
}

.sponsors-div {
	/* justify-content: space-between; */
	gap: 1.5rem;
}

.sponsors-div > .text {
	font-size: 1em;
	letter-spacing: 1px;
	font-weight: 700;
}

.sponsor-img {
	display: inline-block;
	width: 100%;
}

.footer-center {
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.footer-nav {
	width: 100%;
}

.footer-nav .nav-list {
	width: 100%;
	font-size: 1em;
	display: flex;
	justify-content: space-between;
}

.cookies-info {
	/* width: 80%; */
	text-align: center;
	font-size: 0.9em;
}

.cookies-info > span {
	display: block;
}

.footer-right {
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

.social-media-list {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.social-icon {
	font-size: 1.5em;
}

.legal__div {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 2rem;
	font-size: 1em;
}

.legal__div > img {
	display: block;
	width: 15%;
}

@media (max-width: 767.98px) {
	html {
		font-size: 50%;
	}

	header {
		height: 22vh;
		/* padding-top: 5rem; */
	}

	.header__side {
		height: 70%;
	}

	.main-header-section {
		height: 50vh;
	}

	.carousel-item > img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		scale: 1.01;
	}

	.header-section__info-div {
		height: 80%;
	}

	.game-modes__div {
		width: 50%;
		font-size: 1.8rem;
	}

	.game-modes {
		height: 60%;
	}

	.games-section {
		height: 80vh;
	}

	.games-card__div {
		height: 55%;
	}

	footer {
		height: 20vh;
		font-size: 1.4rem;
	}

	.footer-left,
	.footer-right {
		width: 18%;
	}

	footer .nav-link {
		text-align: center;
	}
}

@media (max-width: 575.98px) {
	html {
		font-size: 43.75%;
	}

	header {
		height: auto;
		padding: 3rem 6vw;
	}

	.header-nav {
		display: none;

		z-index: 900;
		width: 70vw;
		position: fixed;
		padding: 0 5%;
		top: 15vw;
		left: 50%;
		transform: translateX(-50%);
	}

	.header-nav .nav-list {
		width: 100%;
		flex-direction: column;
		gap: 2rem;
	}

	.nav-link {
		padding: 2rem 1rem;
	}

	.active-nav {
		border: none !important;
	}

	.login-form__div {
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 800;
		width: 100vw;
		height: 100vh;
		background-color: rgb(10, 5, 75);
	}

	.login-form {
		position: absolute;
		bottom: 20%;
		width: 100%;
		justify-content: center;
		gap: 2rem;
	}

	.welcome-user__div {
		/* Just added */
		height: max-content;
		font-size: 3rem;
		display: flex;
		position: absolute;
		left: 50%;
		bottom: 10%;
		transform: translateX(-50%);
	}

	.form-input {
		width: 30vw;
	}

	.register__div {
		position: absolute;
		bottom: 10%;
		left: 50%;
		transform: translateX(-50%);
	}

	/* .register__div > .signup-btn {
		background-color: rgb(10, 5, 75);
		color: hsl(36, 100%, 99%);
	} */

	.portfolio__div {
		display: none;
	}

	.header__right-side {
		display: flex;
		flex-direction: row;
		gap: 1rem;
	}

	.menu-icon-div {
		display: inline-block;
		position: static;
		z-index: 1000;
	}

	.menu-icon-img {
		width: 4rem;
		height: 4rem;
		display: block;
		position: static;
		top: 3rem;
		right: 6vw;
	}
	.carousel-item > img {
		height: 100% !important;
		width: auto !important;
	}

	.header-section__info-div {
		width: 80%;
	}

	.nav_section > * {
		padding: 0 3rem;
	}

	.dropdown-text {
		display: none;
	}

	.games-section {
		height: auto;
		gap: 8rem;
		padding: 8rem 5vw;
	}

	.games__div {
		width: 100%;
		flex-direction: column;
		align-items: center;
		gap: 5rem;
	}

	.games-info {
		width: 100%;
	}

	.game-modes__div {
		width: 90%;
		font-size: 2.5rem;
	}

	.games-card__div {
		width: 100%;
		gap: 6rem;
	}

	.game-card {
		width: 90%;
		height: 350px;
	}

	footer {
		font-size: 1.6rem;
		height: auto;
		flex-direction: column;
		align-items: center;
		gap: 4rem;
	}

	.footer-div {
		width: 100% !important;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.footer-center {
		flex-direction: column;
		gap: 3rem;
	}

	.sponsors-div > .sponsor-img {
		width: 50%;
	}

	.social-media-list > * {
		width: 30%;
		flex-shrink: 0;
	}

	.legal__div {
		justify-content: flex-end;
	}
}

@media (max-width: 425.98px) {
	.game-modes__div {
		width: 100%;
		font-size: 2rem;
	}

	.game-card {
		width: 90%;
		height: 50vh;
	}
}
