main {
	width: 100%;
	padding: 12rem 0;

	display: flex;
	gap: 10vh;
	flex-direction: column;
	align-items: center;
}

.section {
	width: 90%;
	line-height: 1.3;
	font-size: 2rem;
	color: hsl(36, 100%, 99%);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dashboard-games__section {
	height: 24rem;
}

.dashboard-games__section > div,
.invite__div {
	width: 22%;
	height: 100%;
	border-radius: 2rem;
	padding: 2rem 3rem;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.dark__ads {
	background-color: rgb(34, 34, 34);
	color: hsl(36, 100%, 99%);
}

.light__ads {
	color: rgb(34, 34, 34);
	background-color: hsl(0, 0%, 84%);
}

.ads__div > .btn {
	padding: 1rem 2rem;
	border-radius: 10px;
	color: hsl(36, 100%, 99%);
	background-color: rgb(63, 63, 63);
}

.started-games__div {
	background-color: rgb(10, 5, 75);
}

.form {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.input__div,
.invite-btn__div {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.btn__div {
	width: 48%;
}

section .btn {
	width: 100%;
	padding: 1rem 0;
	border-radius: 10px;
	font-size: 1.6rem !important;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: hsl(36, 100%, 99%);
	color: rgb(34, 34, 34);
}

.input__div > .input {
	padding: 1rem;
	width: 60%;
	height: 100%;
	border: none;
	border-radius: 5px;
}

.active-games__div {
	background-color: rgb(10, 49, 10);
}

.available-games-text {
	font-size: 1.6rem;
}

section .btn:hover {
	background-color: rgb(221, 147, 11) !important;
	color: rgb(63, 63, 63) !important;
}

.players__section {
	height: 70vh;

	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.player-status {
	width: 22%;
	height: 100%;
	border: 1px solid rgb(63, 63, 63);
	border-radius: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
}

.player-status .title {
	width: 102%;
	margin: -4px;
	padding: 2rem 0;
	border-radius: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.2rem;
	letter-spacing: 1px;
	background-color: rgb(221, 147, 11);
}

.player-status .players-list {
	color: rgb(34, 34, 34);
	width: 100%;
	padding: 0 2rem;
	display: flex;
	gap: 2px;
	flex-direction: column;

	overflow-y: scroll;
}

.players-list > .players {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.status-bullet {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	background-color: rgb(22, 119, 22);
}

#online-players .title {
	background-color: rgb(10, 5, 75);
}

.invites__div {
	width: 30%;
	height: 100%;

	display: flex;
	flex-direction: column;
	gap: 2rem;

	overflow-y: scroll;
}

.players-list::-webkit-scrollbar,
.invites__div::-webkit-scrollbar {
	width: 3px;
}

.players-list::-webkit-scrollbar-thumb,
.invites__div::-webkit-scrollbar-thumb {
	background-color: rgb(63, 63, 63);
	border-radius: 5px;
}

.invite__div {
	width: 100%;
	height: 25rem;
	padding: ;

	background-color: rgb(10, 5, 75);
}

.invite-info-text {
	font-size: 3.5rem;
	line-height: 1;
}

#reject-invite {
	background-color: rgb(10, 5, 75);
	color: hsl(36, 100%, 99%);

	border: 1px solid hsl(36, 100%, 99%);
}

#reject-invite:hover {
	border: 1px solid transparent;
}

@media (max-width: 575.98px) {
	.section {
		width: 60%;
		flex-direction: column;
		gap: 5rem;
	}

	.dashboard-games__section {
		height: max-content;
	}

	.dashboard-games__section > div,
	.invite__div {
		width: 100%;
		height: 150px;
	}

	.players__section {
		height: max-content;
	}

	.players__section > * {
		width: 100%;
		flex-shrink: 0;
	}

	.player-status {
		height: 40vh !important;
	}

	.invites__div {
		order: 3;
	}
}
